<link rel="stylesheet" href="/bootstrap-4.3.1/css/bootstrap.css">
<link rel="stylesheet" href="/css/bootstrap.css">
<link rel="stylesheet" href="/css/estilo.css">

<div class="container p-4">
  <div class="row">
    <div class="col-md-10 mx-auto">
      <div class="card ">
        <ol class="breadcrumb">
          <li><a href="/cliente_signin">Inicio</a></li>
          <li><a class="active">Registrar Cliente</a></li>
        </ol>
        <div class="card-header">
          <h1 align="center">Registrar Cliente</h1>
        </div>

        <div class="d-flex justify-content-center">
					<div align="center">
            
						<div src="img/logo3.png" id="imagenPreview" class="card-img-top lg-auto m-2 rounded-circle w-50"></div>
            <input type="file" name="imagen" id="imagen" class="form-control" required>
					</div>
				</div>
        <div class="card-body">
          <form action="/cliente_signup" method="POST" onsubmit="return validar();">

          <div class="row">

              <div class="col-lg-6">
                <h2>Nombre<span style="color:red">*</span></h2>
                <div class="inputWithIcon jorge">
                  <input type="text" id="nombre" name="nombre" placeholder="Nombre" class="form-control" autofocus>
                  <i class="icon-user" aria-hidden="true"></i>
                </div>
              </div>

             
              <div class="col-lg-6">
                <h2>Apellido<span style="color:red">*</span></h2>
                <div class="inputWithIcon jorge">
                  <input type="text" id="apellido" name="apellido" placeholder="Apellido" class="form-control" >
                  <i class="icon-pencil" aria-hidden="true"></i>
                </div>
              </div>

          </div>

          <div class="row">

              <div class="col-lg-6">
                <h2>Sexo<span style="color:red">*</span></h2>
                <div class="inputWithIcon jorge1">
                  <select id="sexo" name="sexo" placeholder="Sexo" class="form-control">
                      <option value="N" disabled selected>Selecciona sexo</option>
                      <option value="F">Femenino</option> 
                      <option value="M">Masculino</option> 
                  </select>
                  <i class="icon-man-woman" aria-hidden="true"></i>
                </div>
              </div>

             
              <div class="col-lg-6">
                <h2>Nacimiento<span style="color:red">*</span></h2>
                <div class="inputWithIcon jorge3">
                  <input type="date" id="nacimiento" name="nacimiento" placeholder="Nacimiento" class="form-control" autofocus>
                  <i class="icon-date" aria-hidden="true"></i>
                </div>
              </div>

          </div>

           <div class="row">

              <div class="col-lg-6">
                <h2>Dirección<span style="color:red">*</span></h2>
                <div class="inputWithIcon jorge2">
                  <select id="direccion" name="direccion" placeholder="Direccion" class="form-control">
                      <option value="N" disabled selected>Selecciona Provincia</option>
                      <option value="Azua">Azua</option> 
                      <option value="Bahoruco">Bahoruco</option> 
                      <option value="Barahona">Barahona</option>
                      <option value="Dajabón">Dajabón</option> 
                      <option value="Distrito Nacional">Distrito Nacional</option> 
                      <option value="San Francisco de Macorís">San Francisco de Macorís</option>
                      <option value="El Seibo">El Seibo</option> 
                      <option value="Elías Piña">Elías Piña</option> 
                      <option value="Moca">Moca</option>
                      <option value="Hato Mayor">Hato Mayor</option> 
                      <option value="Salcedo">Salcedo</option> 
                      <option value="Jimaní">Jimaní</option>
                      <option value="Higüey">Higüey</option> 
                      <option value="La Romana">La Romana</option> 
                      <option value="La Vega">La Vega</option>
                      <option value="Nagua">Nagua</option> 
                      <option value="Bonao">Bonao</option> 
                      <option value="Monte Cristi">Monte Cristi</option>
                      <option value="Monte Plata">Monte Plata</option> 
                      <option value="Pedernales">Pedernales</option> 
                      <option value="Baní">Baní</option>
                      <option value="Puerto Plata">Puerto Plata</option> 
                      <option value="Samaná">Samaná</option> 
                      <option value="San Cristóbal">San Cristóbal</option>
                      <option value="San José de Ocoa">San José de Ocoa</option> 
                      <option value="San Juan">San Juan</option> 
                      <option value="San Pedro de Macorís">San Pedro de Macorís</option>
                      <option value="Cotuí">Cotuí</option> 
                      <option value="Santiago">Santiago</option> 
                      <option value="Santiago Rodríguez">Santiago Rodríguez</option>
                      <option value="Santo Domingo">Santo Domingo</option> 
                      <option value="Valverde">Valverde</option>  
                  </select>
                  <i class="icon-location" aria-hidden="true"></i>
                </div>
              </div>

             
              <div class="col-lg-6">
                <h2>Teléfono<span style="color:red">*</span></h2>
                <div class="inputWithIcon jorge">
                  <input type="text" id="telefono" name="telefono" placeholder="Telefono" class="form-control" >
                  <i class="icon-phone" aria-hidden="true"></i>
                </div>
              </div>

          </div>

          <div class="row">

              <div class="col-lg-6">
                <h2>Correo<span style="color:red">*</span></h2>
                <div class="inputWithIcon jorge4">
                  <input type="email" id="correo" name="correo" placeholder="Correo" class="form-control" >
                  <i class="icon-email" aria-hidden="true"></i>
                </div>
              </div>

             
              <div class="col-lg-6">
                <h2>Usuario<span style="color:red">*</span></h2>
                <div class="inputWithIcon jorge">
                  <input type="text" id="usuario" name="usuario" placeholder="Usuario" class="form-control" >
                  <i class="icon-user-tie" aria-hidden="true"></i>
                </div>
              </div>

          </div>

           <div class="row">

              <div class="col-lg-6">
                <h2>Contraseña<span style="color:red">*</span></h2>
                <div class="inputWithIcon jorge5">
                  <input type="password" id="contrasena" name="contrasena" placeholder="Contraseña" class="form-control" >
                  <i class="icon-lock" aria-hidden="true"></i>
                </div>
              </div>

             
              <div class="col-lg-6">
                <h2>Confirmar<span style="color:red">*</span></h2>
                <div class="inputWithIcon jorge5">
                  <input type="password" id="confirmar" name="confirmar" placeholder="Confirmar" class="form-control" >
                  <i class="icon-key" aria-hidden="true"></i>
                </div>
              </div>

          </div>
           
           <br>
          <input type="checkbox" name="acepto" > Acepto ternimos y condiciones

            <div class="row">

              <div class="col-lg-3">
                 <button id="check" class="btn btn-warning btn-block my-3">
                  Registrar
                </button>
                
              </div>

              <div class="col-lg-3">
                 <a class="btn btn-danger btn-block my-3" href="/cliente_signin">
                  Cancelar
                </a>
               
              </div>

          </div>

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  var c = () => Array.from(document.getElementsByTagName("INPUT")).filter(cur => cur.type === 'checkbox' && cur.checked).length > 0;

  check.addEventListener("click", () => {
  if(!c()) { 
      alert("Debes aceptar ternimos y condiciones");
      //alertify.alert("HEADER","Esto es un mensaje").set('label', 'Aceptar'); 
  } 
  });
</script>

<script type="text/javascript">
$('#imagenPreview').html("<img src='img/logo3.png' class='card-img-top lg-auto m-2 rounded-circle w-50'/>"); 
   (function(){
       function filePreview(input){
           if(input.files && input.files[0]){
               var reader = new FileReader();

               reader.onload = function(e){
                   $('#imagenPreview').html("<img src='"+e.target.result+"' class='card-img-top lg-auto m-2 rounded-circle w-50'/>");
               }

               reader.readAsDataURL(input.files[0]);
           }
       }
       $('#imagen').change(function(){
          filePreview(this);
       });
   }) ();

</script>

