<link rel="stylesheet" href="/bootstrap-4.3.1/css/bootstrap.css">
<style>
    body,
		html {
			background-image: url('/images/parallax/max1.jpg');
			background-size: cover;
			background-repeat: no-repeat;
			height: 100%;
			font-family: 'Numans', sans-serif;
		}
</style>
<main class="card-body">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1" style="color: white;">Bienvenido a AA Motor</h1>
            <h3 class="mb-5" style="color: white;">
                <em>Donde te ofrecemos los mejores productos con mayor calidad!</em>
            </h3>
            <a class="btn btn-warning btn-lg" href="/cliente_signin">
                Realializar compra
            </a>
        </div>
        <div class="overlay"></div>
    </header>
</main>