<!DOCTYPE html>
<html lang="en">
<head>

   <meta charset="utf-8" />
   <title>AA MOTOR</title>
   <meta name="description" content="" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
   
   <!--Favicon -->
	<link rel="icon" type="image/ico" href="/images/AA-Motor.ico" />

    <link rel="stylesheet" href="icono/style.css">
      
    <link rel="stylesheet" href="css/estilo.css">

    <script src="/js/validar.js"></script>
    

    <script src="js/validar_correo.js"></script>
    {{!-- <script src="js/validar_imagen.js"></script> --}}
   

    {{!-- <link rel="stylesheet" href="js/AlertifyJS/css/alertify.min.css" />
    <link rel="stylesheet" href="js/AlertifyJS/css/themes/semantic.min.css" />
    <script src="js/AlertifyJS/alertify.min.js"></script> --}}

    <script src="/js/sweetalert2/sweetalert2.min.js"></script>
    <link rel="stylesheet" href="/js/sweetalert2/sweetalert2.css" />

    {{!-- <link rel="stylesheet" type="text/css" href="/js/DataTables/dataTables.bootstrap4.min.css" />
    <script type="text/javascript" src="/js/DataTables/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/js/DataTables/jquery.dataTables.min.js"></script>
     <script type="text/javascript" src="/js/DataTables/dataTables.bootstrap4.min.js"></script> --}}


</head>

<body>
	
	{{{ body }}}

	<!-- All The JS Files -->
	<script type="text/javascript" src="js/jquery-1.11.0.min.js"></script>
	<script type="text/javascript" src="js/jquery.appear.js"></script>	
	<script type="text/javascript" src="js/jquery.prettyPhoto.js"></script>
	<script type="text/javascript" src="js/SmoothScroll.js"></script>
	<script type="text/javascript" src="js/jquery.parallax-1.1.3.js"></script>
	<script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
	<script type="text/javascript" src="js/jquery.superslides.js"></script>
	<script type="text/javascript" src="js/jquery.flexslider.js"></script>
	<script type="text/javascript" src="js/jquery.isotope.js"></script>
	<script type="text/javascript" src="js/jquery.mb.YTPlayer.js"></script>
	<script type="text/javascript" src="js/jquery.fitvids.js"></script>
	<script type="text/javascript" src="js/jquery.countTo.js"></script>
	<script type="text/javascript" src="js/jquery.fs.tipper.js"></script>
	<!--<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>-->
	{{!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAI4pu8_vaoGSCaiW_HQV06I639cIsbdWY&callback=myMap"></script> --}}
	<script type="text/javascript" src="js/custom.js"></script>
	{{!-- <script src="/js/signup.js"></script> --}}
	

	

	<!-- Options Panel Script (remove me for production) -->
	<!--<script type="text/javascript" src="panel/options-panel.js"></script>-->
	

</body>
</html>