<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>


<link rel="stylesheet" href="/css/estilo.css">
<link rel="stylesheet" href="/css/bootstrap.css">
 
<br><br><br><br>
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-sx-6 col-lg-6 mx-auto">
            <div class="card">
                <div class="card-header">
                    <div class="card-body">
                    <header class="masthead d-flex" style="color:black">
                            <div class="container text-center my-auto">
                                <h1 class="mb-1">Super Gato</h1>
                                <h3 class="mb-5">
                                    <em>En este momento no tienes ningún permiso 
                                        válido para restablecer tu contraseña!!
                                        por favor continuar con el proceso
                                    </em>
                                </h3>
                                <a class="btn btn-warning btn-lg" href="/recuperar_contrasena">
                                    Continuar
                                </a>
                            </div>
                            <div class="overlay"></div>
                    </header>
                    </div>
                </div>
            </div> 
        </div>    
    </div>
</div>
<div class="error">
    {{message}}
</div> 
  